<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>in.shri.backend.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <display-name>Book_Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListBooks</display-name>
    <servlet-name>ListBooks</servlet-name>
    <servlet-class>in.shri.backend.ListBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBooks</servlet-name>
    <url-pattern>/ListBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>in.shri.backend.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPage</display-name>
    <servlet-name>EditPage</servlet-name>
    <servlet-class>in.shri.backend.EditPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPage</servlet-name>
    <url-pattern>/EditPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditContent</display-name>
    <servlet-name>EditContent</servlet-name>
    <servlet-class>in.shri.backend.EditContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditContent</servlet-name>
    <url-pattern>/EditContent</url-pattern>
  </servlet-mapping>
</web-app>